*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(27, 10, 13);
}
.aside
{
    float: left;
    width: 20%;
    height: auto;
    background-color: aqua;

}